<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net472" />
  <package id="DragonflySchema" version="1.5.10.1981" targetFramework="net472" />
  <package id="HoneybeeSchema" version="1.26.0.39391" targetFramework="net472" />
  <package id="JsonSubTypes" version="1.5.2" targetFramework="net472" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net472" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="NLog" version="4.6.8" targetFramework="net472" />
  <package id="RestSharp" version="105.1.0" targetFramework="net472" />
  <package id="Revit.2019.Assemblies" version="1.0.0" targetFramework="net472" Condition="$(Configuration.Contains('2019'))" />
  <package id="Revit.2020.Assemblies" version="1.0.0" targetFramework="net472" Condition="$(Configuration.Contains('2020'))" />
  <package id="Revit-2018.1-x64.Base" version="1.0.0" targetFramework="net472" Condition="$(Configuration.Contains('2018'))" />
</packages>