<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net48" />
  <package id="DragonflySchema" version="1.5.24.30619" targetFramework="net48" />
  <package id="HoneybeeSchema" version="1.34.2.3774" targetFramework="net48" />
  <package id="JsonSubTypes" version="1.5.2" targetFramework="net48" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net48" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net48" />
  <package id="NLog" version="4.6.8" targetFramework="net48" />
  <package id="RestSharp" version="106.11.4" targetFramework="net48" />
  <package id="Revit_All_Main_Versions_API_x64" version="2020.0.1" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>